# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
---
name: CI

# WARNING! PLEASE READ BEFORE MAKING ANY CHANGES:
#
# This workflow is triggered on `pull_request_target` event,
# which makes it highly prone to security issues,
# as in this case we are executing untrusted, user-provided,
# potentially malicious code from pull requests in an environment
# that might contain overly permissive tokens or exposed secrets,
# if not implemented properly.
#
# Please only modify this file if you know what you're doing.

on:
  push:
    branches: [main, master]
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  ci:
    uses: asimov-modules/.github/.github/workflows/ci-rust.yaml@master
    secrets: inherit
    permissions:
      actions: read
      contents: read
      pull-requests: write
    with:
      building_toolchain: 1.87.0
      linux_dependencies: |
        sudo apt update && sudo apt upgrade -y
        sudo apt install -y ffmpeg
      macos_dependencies: brew install ffmpeg
      windows_dependencies: vcpkg install ffmpeg
